<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- favicon -->
    <link rel="shortcut icon" th:href="@{/images/logo.png}" type="image/x-icon" />

    <!-- manifest.json -->
    <!--<link rel="manifest" href="manifest.json" />-->
    
    <meta name="theme-color" content="#FF4500" />

    <title>MyQuiz</title>

    <!-- google icons -->
    <link th:href="@{https://fonts.googleapis.com/icon?family=Material+Icons}" rel="stylesheet" />

    <!-- style.css -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
 </head>
<body>
    <!-- header -->
    <header>
        <a href="javascript:;" class="float-left">
            <i class="material-icons">keyboard_arrow_left</i>
        </a>

        <a href="javascript:;" class="float-left"><h1>MyQuiz</h1></a>

        <a href="javascript:;" class="float-right">
            <i class="material-icons">more_vert</i>
        </a>

        <a href="javascript:;" class="float-right">
            <i class="material-icons">search</i>
        </a>

        <a href="javascript:;" class="float-right">
            <i class="material-icons">share</i>
        </a>
    </header>
    
    <!-- card content -->
    <div id="main-menu">
    	<ul>
	       <li>
	       		<a th:href="@{/alunos/novo}">CADASTRAR ALUNO</a>
	       </li>
	       
	       <li>
	       		<a th:href="@{/professores/novo}">CADASTRAR PROFESSOR</a>
	       </li>
	       
	       <li>
	       		<a th:href="@{/quizes/novo}">CADASTRAR QUIZ</a>
	       </li>
	       
	       <li>
	       		<a th:href="@{/quizes/novo}">SAIR</a>
	       </li>
    	</ul>
    </div>

    <!-- content -->
    <section>
    <!-- conteúdo da index aqui -->
    </section>

    <!-- footer -->
    <footer>
        <div class="footer-links">
            <a href="/">
                <i class="material-icons">home</i>
            </a> |
            <a href="/about">
                <i class="material-icons">contact_support</i>
            </a> |
            <a href="/settings">
                <i class="material-icons">settings</i>
            </a>
        </div> 
        
        <p>Copyright &copy; IFCE 2018, Todos os direitos reservados.</p>
    </footer>

	<!-- jquery.js -->
    <script th:src="@{/js/vendors/jquery.min.js}"></script>

    <!-- scripts.js -->
    <script th:src="@{/js/layout.js}"></script>
    
     <!-- professor-crud.js -->
    <script th:src="@{/js/aluno-crud.js}"></script>
</body>
</html>