<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- favicon -->
    <link rel="shortcut icon" th:href="@{/images/logo.png}" type="image/x-icon" />

    <!-- manifest.json -->
    <!--<link rel="manifest" href="manifest.json" />-->

    <title>MyQuiz</title>

    <!-- google icons -->
    <link th:href="@{https://fonts.googleapis.com/icon?family=Material+Icons}" rel="stylesheet" />
    
    <!-- sweetalert.min.css -->
    <link th:href="@{/plugins/sweetalert2.min.css}" rel="stylesheet" />

    <!-- style.css -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
 </head>
<body>
    <!-- header -->
    <header>
        <a href="javascript:;" class="float-left">
            <i class="material-icons">keyboard_arrow_left</i>
        </a>

        <a href="javascript:;" class="float-left"><h1>MyQuiz</h1></a>

        <a href="javascript:;" class="float-right">
            <i class="material-icons">more_vert</i>
        </a>

        <a href="javascript:;" class="float-right">
            <i class="material-icons">search</i>
        </a>

        <a href="javascript:;" class="float-right">
            <i class="material-icons">share</i>
        </a>
    </header>

    <!-- content -->
    <section>
        <form class="card" method="post" action="/respostas">
            <!-- card title -->
            <div class="card-title">
                <h1>RESPONDA O QUIZ</h1>
            </div>
                
            <!-- card content -->
            <div class="card-content">
            	<!--<input th:each="aluno : ${alunos}" id="aluno" type="hidden" th:value="${aluno.codigo}" />
                <input th:each="professor : ${professores}" id="professor" type="hidden" th:value="${professor.codigo}" />-->
                
                <div id="questoes" th:each="quiz : ${quizes}">
                	<input id="tema" type="hidden" th:value="${quiz.tema}" />
                	
                    <p class="enunciado" th:text="|${quiz.codigo}. ${quiz.enunciado}|"></p>
                    
                    <div class="row alternativa">
                        <input id="resp_a" type="radio" th:name="${quiz.codigo}" th:value="${quiz.alta}" onclick="onAddObject(this)" />
                        <label class="col-s4" th:text="|a) ${quiz.alta}|"></label>
                    </div>

                    <div class="row alternativa">
                        <input id="resp_b" type="radio" th:name="${quiz.codigo}" th:value="${quiz.altb}" onclick="onAddObject(this)" />
                        <label class="col-s4" th:text="|b) ${quiz.altb}|"></label>
                    </div>

                    <div class="row alternativa">
                        <input id="resp_c" type="radio" th:name="${quiz.codigo}" th:value="${quiz.altc}" onclick="onAddObject(this)" />
                        <label class="col-s4" th:text="|c) ${quiz.altc}|"></label>
                    </div>

                    <div class="row alternativa">
                        <input id="resp_d" type="radio" th:name="${quiz.codigo}" th:value="${quiz.altd}" onclick="onAddObject(this)" />
                        <label class="col-s4" th:text="|d) ${quiz.altd}|"></label>
                    </div>
                </div>
            </div>
                
            <!-- card footer -->
            <div class="row card-footer">
                <input id="salvar" class="col-s3" type="button" value="Enviar Respostas" />
            </div>
        </form>
    </section>

    <!-- footer -->
    <footer>
        <div class="footer-links">
            <a href="javascript:;">
                <i class="material-icons">home</i>
            </a> |
            <a href="javascript:;">
                <i class="material-icons">contact_support</i>
            </a> |
            <a href="javascript:;">
                <i class="material-icons">settings</i>
            </a>
        </div> 
        
        <p>Copyright &copy; IFCE 2018, Todos os direitos reservados.</p>
    </footer>

    <!-- jquery.js -->
    <script th:src="@{/js/vendors/jquery.min.js}"></script>
    
    <!-- sweetalert.js -->
    <script th:src="@{/plugins/sweetalert2.min.js}"></script>

    <!-- scripts.js -->
    <script th:src="@{/js/layout.js}"></script>
    
     <!-- professor-crud.js -->
    <script th:src="@{/js/resposta-crud.js}"></script>
</body>
</html>