<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- favicon -->
    <link rel="shortcut icon" th:href="@{/images/logo.png}" type="image/x-icon" />

    <!-- manifest.json -->
    <!--<link rel="manifest" href="manifest.json" />-->

    <title>MyQuiz</title>

    <!-- google icons -->
    <link th:href="@{https://fonts.googleapis.com/icon?family=Material+Icons}" rel="stylesheet" />
    
    <!-- sweetalert.min.css -->
    <link th:href="@{/plugins/sweetalert2.min.css}" rel="stylesheet" />

    <!-- style.css -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
 </head>
<body>
    <!-- header -->
    <header>
        <a href="javascript:;" class="float-left">
            <i class="material-icons">keyboard_arrow_left</i>
        </a>

        <a href="javascript:;" class="float-left"><h1>MyQuiz</h1></a>

        <a href="javascript:;" class="float-right">
            <i class="material-icons">more_vert</i>
        </a>

        <a href="javascript:;" class="float-right">
            <i class="material-icons">search</i>
        </a>

        <a href="javascript:;" class="float-right">
            <i class="material-icons">share</i>
        </a>
    </header>

    <!-- content -->
    <section>
        <form class="card" method="post" action="/alunos">
            <!-- card title -->
            <div class="card-title">
                <h1>CADASTRO DE ALUNO</h1>
            </div>
                
            <!-- card content -->
            <div class="card-content">
                <div class="row">
                	<input id="id" type="hidden" class="col-s4" placeholder="Seu id" name="codigo" />
	                <input id="nome" class="col-s4" type="text" placeholder="Seu nome" name="nome" />
	                <input id="instituicao" class="col-s4" type="text" placeholder="Sua instituição" name="instituicao" />
	                <input id="email" class="col-s4" type="text" placeholder="Seu e-mail" name="email" />
                </div>
            </div>
                
            <!-- card footer -->
            <div class="row card-footer">
                <input id="salvar" class="col-s4" type="submit" value="Salvar" />
                <input id="listar" class="col-s4" type="button" value="Listar" />
            </div>
        </form>
    </section>

    <!-- footer -->
    <footer>
        <div class="footer-links">
            <a href="javascript:;">
                <i class="material-icons">home</i>
            </a> |
            <a href="javascript:;">
                <i class="material-icons">contact_support</i>
            </a> |
            <a href="javascript:;">
                <i class="material-icons">settings</i>
            </a>
        </div> 
        
        <p>Copyright &copy; IFCE 2018, Todos os direitos reservados.</p>
    </footer>

    <!-- jquery.js -->
    <script th:src="@{/js/vendors/jquery.min.js}"></script>
    
    <!-- sweetalert.js -->
    <script th:src="@{/plugins/sweetalert2.min.js}"></script>

    <!-- scripts.js -->
    <script th:src="@{/js/layout.js}"></script>
    
    <!-- professor-crud.js -->
    <script th:src="@{/js/aluno-crud.js}"></script>
</body>
</html>